/*universal selectors(apply to all elements)*/
*{  margin:0;
    padding:0;
    user-select: none;
    box-sizing: border-box;
}

body{
 height: 100vh;
 width: 100vw;
}

:root{
    --paddingLoginSignup: 20px; /*variable for frequently used thing*/
}

.background{
    
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}


.parentLoginSignup{
    background-color: rgba(249, 249, 249, 0.728);
    backdrop-filter: blur(5px);
    border: solid 2px white;
    height: calc(100vh - (var(--paddingLoginSignup)*2)); 
    width:40%;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px #1e1e1e5c; /*values:- x offsset,y-offest,blur-radius,spread-radius,color*/
    position: relative; /*z-index can be applied for any non static position value*/
    z-index: 10;
    margin: var(--paddingLoginSignup) var(--paddingLoginSignup) var(--paddingLoginSignup) 0px;
    padding:40px 60px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
} 
.childLoginSignup{
    height: fit-content;
}

/*heading on top saying Sign Up*/
#signup{
    font-size: 2.5rem;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    padding-bottom: 30px;
}

.formContainer{
    margin-bottom: 30px;
    width: fit-content;
}
#formLabel{
    font-size:1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.form{
    padding: 10px;
    height: 40px;
    width: 300px;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    font-size: 1.1rem;
}
.form:focus {
    outline: 1.5px solid #379e37;}

.LableTxt{
    font-family: "Moderustic", sans-serif;
    font-size: 0.9rem;
}
#loginTxt{
    cursor: pointer;
    font-weight: 700;
    color: #2d2d2d;
 
}
#passwordContainer{margin-bottom: 5px;}
#showPasswordContainer{margin-bottom: 60px;}


/*sign-up button*/
#signupBtn{
    width: 300px; 
    height: 40px; 
    background-color: #237426; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 1.5rem; 
    cursor: pointer; 
    margin-bottom:5px;
    font-family: "Moderustic", sans-serif;
}
#signupBtn:hover{
background-color: #2f7532;
transform: scale(1.05);
transition: 0.3s ease;
}
#signupBtn:active{
    background-color: #327d36; 
    transform: scale(0.95); 
    }
#loginSwitchContainer{
    text-align: center;
}
.loginSwitch{
   width: fit-content;
}


.description{
    height: calc(100vh - (var(--paddingLoginSignup)*2)); 
    width:60%;
    position: relative;
    margin: var(--paddingLoginSignup) var(--paddingLoginSignup)var(--paddingLoginSignup) var(--paddingLoginSignup);
    display: flex;
    flex-direction: column;
}

.figure{
    height: 60%;
    width: 100%;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#descriptionTxt{
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    border-radius: 25px;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
}
#socials{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.icons{
    background-color: rgba(94, 94, 94, 0.242);
    backdrop-filter: blur(3px);
    border:none;
    border-radius: 25px;
    height: 40px;
    width: 20%;
    box-shadow: 0px 0px 5px 5px #13131335;
    padding:7px;
    color: white;
    font-size: 1.1rem;
    font-family:"Oswald", sans-serif;
    overflow:hidden;
    text-align: center;
}
.icons:hover{
    backdrop-filter: blur(10px);
    transform: scale(1.1);
    transition: 0.3s ease;
}
