*{
    padding:0;
    margin:0;
    box-sizing: border-box;  
     -webkit-tap-highlight-color:transparent;
}

body{
    height: 100%;
    width: 100%;/*Dont write 100vw*/
   }
 :root{ --navbarGray:#f3f3f3;
        --navbarGreen: #418d60;
        --navbarDarkGreen:#2b5f40;
        --footer:#08170e;

      }

.navbar{
    width: 100%;
    position: relative;
    z-index: 5;
    height:60px;
    background-color: #f3f3f3c8;
    backdrop-filter: blur(5px);
    position: fixed;
    box-shadow: 0px 5px 10px 6px #00000022;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items:center;
    
}
#logo{
    background-image: url("logoBlack.png");
   
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width:20%;
    min-width: 130px;
    border: solid 2px #00000000;
    float:left;
}

.links{
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
    min-width: 265px;
    height:70%;
    background-color: white;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 5px #6565651e; 
}

.btn{
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
    user-select:none;
    background-color: inherit;
    height: 100%;
    border:none;
    padding: 0 10px;
    text-decoration: none;
    color:black;
    font-size: 1rem;
    border-radius: 25px;
}
#home{
    background-color: black;
    color: white;
}
.searchContainer {
    display: flex;
    padding: 4px 4px 4px 8px;
    border: none;
    width:15%;
    min-width: 115px;
    height: 70%;
    background-color: white;
    border-radius: 60px;
    overflow: hidden;
    margin-right: 2%;
    margin-left: 10%;
    align-items: center; /* Vertically center the input and button */ 
    border: 1px solid #ccc; /* Create a basic border */
    box-shadow: 0px 0px 5px 5px #6565651e; 
  }

  .searchInput::placeholder { 
    font-size: 0.9rem;
  }
  
  
  .searchContainer input[type="search"] {
   flex:0; /*expand to fill*/
   font-size: 1rem; 
   outline: none; /*Important setting*/
   width: 100%;
   height: 100%;
   border: none;
   position: relative;
   background-color: #ffffff;
  }

  .searchContainer input:focus {
    border: none; 
  }
  
  .searchContainer button{
    flex-shrink:0;
    padding: 0.5rem 0.5rem;
    background-color: var(--navbarGreen);
    border-radius: 50%;
    color: #ffffff; 
    border: 1px solid var(--navbarGreen);
    cursor: pointer; /* Indicate clickable behavior */
  }

  .searchContainer button:hover{
    background-color: var(--navbarDarkGreen);
    border-color:var(--navbarDarkGreen);
  }

.profile{  
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width:10%;
    user-select: none;
    cursor: pointer;
}
.profile:hover{
    border-radius: 30px;
    border:solid 2px var(--navbarGreen);
    transition: 0.3s ease;
}

#profileBtn{
    background-color: var(--navbarGreen);
    padding: 8px;
    color: white;
    border-radius: 50%;
}



main{
    padding-top:80px;
    width:100%;
    height: fit-content;
    background-color:#e8f3ec;
    overflow-x:hidden;
}
/*#9ac5ad;
#8eb39e*/
.topDecor{
    font-family: "Ubuntu", sans-serif;
    background-image: url("images/topDecor3.png");
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    padding:40px;
    color: white;
    font-size: clamp(6rem,4rem,3rem);
    background-color: black;
    width: 100%;
    height:450px;
    position:relative;
    box-shadow:  inset 0px 0px  5px 5px #0000003e;
}    
       
#exploreTxt{
    font-size: clamp(9rem,6rem,4rem);/*
    background: linear-gradient(to right, #90b800, #1a9421);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;important, see what happens without this lines*/
}

.cards{
    width: 100%;
    height: fit-content;
    background-color:inherit;
    display:grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px; /* Add gap between grid items instead of margin */
    column-gap:20px;
    padding:50px 30px;
}

.card{
    display:flex;
    position: relative;
    background-color: #4b4b4b;
    border-radius: 10px;
    height: 250px;
    margin: 20px 0px;
    overflow:hidden;
    display: flex;
    align-items: center;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
    cursor:pointer;  
}

.itemImgContainer{
 background-image: url("images/onion.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 width:100%;
 height:100%;
 background-color: #020202;
 position:relative;
}
.itemDescription{
    display: none;
    position: absolute;
    z-index: 3;
    padding: 5px;
    right:15px;
    height: 90%;
    width: 55%;
    background-color: #1b1b1b;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 25px; 
    opacity: 0;
}
.card:hover .itemDescription{
    display:block;  
    opacity: 1;  
}

.itemName{
    color: #ffffff;
    font-size: 1.5rem;
}
#addBtn{
    display: inline-block;
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--navbarGreen);
    color:white;
    border:none;
}


.Contract{
    text-align: center;
}

/*footer*/

#questionDiv{
    box-sizing:border-box;
    display: flex;
    height:20%;
    width: 100%;
    background-image: linear-gradient(to top,black 50%,#434343);
    justify-content: center;
    border-top: 2px solid #616161;
    padding:8% 0%;
}

#innerQuestionDiv{
    display: flex;
    flex-direction: column;
    height:fit-content;
    width: 85vw;
    background-color: transparent;
    font-family: "Rubik", sans-serif;
    text-align: center;
    font-size: 5rem;
    justify-content: center;
    background-color:#ffffff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#questionDiv #freq{
    margin:0% 0% 5% 0%;
}

#questionbox{
    display: flex;
    flex-direction: column;
}
.questionanswer{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    height: fit-content;
    width: 100%;
}
.question{
    cursor: pointer;
    box-sizing: border-box;
    padding:0px 10px;
    width: 100%;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    color: white;
    border: none;
    font-family: "Quicksand", sans-serif;
    /*font-family:"Baloo Bhai 2", sans-serif;*/
    font-size: 1.5rem;
}
.question:hover{
    background-color: #424242;
}

.show{
    font-size: 2rem;
}
.answer{
    padding: 2px;
    font-size: 1.2rem;
    background-color: #616161;
    color: white;
    display: none;
    font-family: "Rubik", sans-serif;
    font-weight: 100;
    font-family: "Rubik", sans-serif;
    
}

.upperFooter{ box-sizing: border-box;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 5% 7.5vw 100px 7.5vw;
    justify-content: space-between;
    width: 100%;
    height:fit-content;
    background-image: url("images/blackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid #454545;
    border-bottom: 2px solid #454545;
}
#heading{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}
#historyHeading{
 font-size: 6rem;
 font-family: "DM Serif Display", serif;
 color:white;
}
#historyText{
 color: white;
 font-family: "Quicksand", sans-serif;
}
.imgc{
    display: flex;
    width: 30%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

footer{
    user-select:none;
    color: #7a7a7a;
    text-align: center;
    background-color: var(--footer);
    height:fit-content;
    width: 100%;
    padding: 15px 0px 2% 0px;
  
  }
  
  .foottxt{
   display: flex;
   justify-content: space-evenly;
   padding: 2% 0% 1% 0%;
   margin-bottom: 2%;
  }
  #know{
      border-left: none;
  }
  .footdiv{
   font-family: "Baloo Bhai 2", sans-serif;
   text-align: center;
   height:fit-content;
   width:200px;
   padding: 0% 1.5% 3% 1.5%;
   border-bottom: 2px dotted #454545;
  }
  
  .whitetxt{
      font-size: 20px;
      color: #ffffff;
  }  
  .footerLink:hover{
      color: var(--blue);
      cursor: pointer;
  } 
      
  .greytxt{
      font-family: "Baloo Bhai 2", sans-serif;
      font-size: 1rem;
      color: #7a7a7a;
  }
